<section id="hero" class="hero">
  <div class="video-background">
    <video autoplay muted loop playsinline>
      <source src="https://videos.pexels.com/video-files/16023860/16023860-sd_640_360_30fps.mp4" type="video/mp4">
      Tu navegador no soporta videos HTML5.
    </video>
  </div>
  <div class="hero-content">
    <img src="assets/img/logotipo.png" alt="Logotipo" class="hero-logo">
    <h1>Descubre Brasil</h1>
    <p>Explora las maravillas de sus ciudades tropicales</p>
    <button class="cta-button" >Explorar destinos</button>
  </div>
</section>




