<!-- navbar.component.html -->
<nav class="navbar">
    <div class="container">
      <ul class="nav-links">
        <li><a href="#hero" routerLinkActive="active">Inicio</a></li> <!-- Redirige a HeroComponent -->
        <li><a href="#featured-cities" routerLinkActive="active">Ciudades</a></li> <!-- Redirige a FeaturedCitiesComponent -->
        <li><a href="#services" routerLinkActive="active">Servicios</a></li> <!-- Redirige a ServicesComponent -->
        <li><a href="#contact" routerLinkActive="active">Contacto</a></li> <!-- Redirige a ContactComponent -->
      </ul>
    </div>
  </nav>
  

  
